
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

$blue:              #22a7f0;
$dark-blue:         #89c4f4;

$green:             #2abb9b;
$dark-green:        #36d7b7;

$yellow:            #ffb61e;
$dark-yellow:       #f5d76e;

$red:               #dc3023;
$dark-red:          #e68364;

$gray:              #bdc3c7;