@import "common";

.mf-input-number .mf-input {
  padding-right: 80px;
}

.mf-input-number {
  position: relative;

  &--operator {
    position: absolute;
    top: 0; right: 0;
  }

  &--increase, &--decrease {
    position: absolute;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    line-height: $input-normal-height;
    width: $input-normal-height;
    height: $input-normal-height;
    border-left: 1px solid $light-gray;
    cursor: pointer;
  }
  &--increase {
    right: 0;
  }
  &--decrease {
    right: $input-normal-height;
  }
  &--increase.is-disabled, &--decrease.is-disabled {
    cursor: not-allowed;
    &:hover .mf-icon-plus, &:hover .mf-icon-minus {
      color: $dark-gray;
    }
  }
}