@import "common";

.mf-input-panel {
    font-size: 16px;
    width: 100%;
    position: relative;
}

.mf-input {
    display: inline-block;
    box-sizing: border-box;
    line-height: 1;
    color: $black;
    height: $input-normal-height;
    width: 100%;
    padding: 3px 10px;
    outline: none;
    border: 1px solid $light-gray;
    border-radius: 4px;
    font-size: inherit;
    &:focus {
        outline: none;
        border-color: $blue;
    }
    &::placeholder {
        font-size: inherit;
        color: $gray;
    }
}

.mf-input-autocomplete {
    width: 100%;
    height: 200px;

    position: absolute;
    z-index: 100;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid $light-gray;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    padding: 10px 0;
    //transition: all .5s ease 3s;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    animation: fade-in .25s linear forwards;
}

@keyframes fade-in {
    0% { height: 0 }
    10% { height: 20px }
    20% { height: 40px }
    30% { height: 60px }
    40% { height: 80px }
    50% { height: 100px }
    60% { height: 120px }
    70% { height: 140px }
    80% { height: 160px }
    90% { height: 180px }
    100% { height: 200px }
}
.mf-autocomplete-item {
    padding: 10px 10px;
    cursor: pointer;
    &:hover { 
        background-color: $dark-gray;
    }
}
.mf-autocomplete-item-desc {
    color: $gray;
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
}