@charset 'utf-8';
@import 'common';

// row的flex模式的对齐方式
$justify-list: flex-start, flex-end, center, space-between, space-around;
@mixin row-justify {
  @each $type in $justify-list {
    .justify--#{$type} {  
      justify-content: #{$type};
    }
  }
}
// row的flex模式的垂直对齐方式
$align-list: flex-start, flex-end, center, baseline, stretch;
@mixin row-align {
  @each $type in $align-list {
    .align--#{$type} {
      align-items: #{$type}
    }
  }
}


// col的宽度
@mixin col-width {
  @for $span from 1 through 24 {
    .mf-col-#{$span} {
        width: $span / 24 * 100%;
    }
  }
}
// col的响应式宽度
$breakpoint-map: (
  xs: (
    max-width: 768px
  ),
  sm: (
    min-width: 768px
  ),
  md: (
    min-width: 992px
  ),
  lg: (
    min-width: 1200px
  )
);
@mixin col-reactive-width {
  @each $type, $map in $breakpoint-map {
    @if $type == xs {  // < 768px
      @media ( max-width: map-get($map, max-width) ) {
        @for $span from 1 through 24 {
          .mf-col-xs-#{$span} {
            width: $span / 24 * 100%;
          }
        }
      }
    } @else {
      @media ( min-width: map-get($map, min-width) ) {
        @for $span from 1 through 24 {
          .mf-col-#{$type}-#{$span} {
            width: $span / 24 * 100%;
          }
        }
      }
    }
  }
}



// 按钮及hover的样式
$button-style-map: (
  default: (
    background-color: #fff,
    border-color: #eee,
    hover-bgc: #eee,
    hover-bdc: #eee
  ),
  primary: (
    background-color: #fff,
    border-color: #eee,
    hover-bgc: #eee,
    hover-bdc: #eee
  ),
  info: (
    background-color: $blue,
    border-color: $blue,
    hover-bgc: $dark-blue,
    hover-bdc: $dark-blue
  ),
  danger: (
    background-color: $red,
    border-color: $red,
    hover-bgc: $dark-red,
    hover-bdc: $dark-red
  ),
  success: (
    background-color: $green,
    border-color: $green,
    hover-bgc: $dark-green,
    hover-bdc: $dark-green
  ),
  warning: (
    background-color: $yellow,
    border-color: $yellow,
    hover-bgc: $dark-yellow,
    hover-bdc: $dark-yellow
  )
);
@mixin button-and-hover {

  @each $type, $map in $button-style-map {
    .mf-button--#{$type} {
      background-color: map-get($map, background-color);
      border-color: map-get($map, border-color );

      &:hover {
        background-color: map-get($map, hover-bgc);
        border-color: map-get($map, hover-bdc);
      }
    }
  }
}