@import "common";

.mf-radio{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    line-height: 1;
    font-size: 0;  // 去除inline-block的margin
}

.mf-radio--input {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    outline: none;
}

.mf-radio--original {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top:0; left:0; right:0; bottom: 0; margin: 0;
}

.mf-radio--inner {
    display: block;
    width: 12px;
    height: 12px;
    border: 3px solid $gray;
    border-radius: 50%;
    position: relative;
}

.is-checked > .mf-radio--inner {
    border-color: $blue;
    &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $blue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.is-disabled > .mf-radio--inner {
    border-color: $dark-gray;
    &:after {
        background-color: $dark-gray;
    }
}
.is-disabled + .mf-radio--text {
    color: $dark-gray;
}

.mf-radio--text {
    vertical-align: middle;
    padding-left: 5px;
    font-size: 16px;
}