
.mf-row, .mf-row--flex {
    box-sizing: border-box;
    &:before, &:after {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
    }
}

.mf-row--flex {
    display: flex;
}

@include row-justify;
